<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" />
    <title>Circles.io</title>
    <script src="lib/phaser.min.js"></script>
  </head>
  <body>
    <div id="root">
      <div id="overlay"></div>
    </div>
    <script defer="defer" src="<%= assets['client.js'] %>"></script>
  </body>
</html>
