* {
    margin: 0;
    padding: 0;
}

html,
body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

html {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ls-2 {
    letter-spacing: 2px;
}

// Buttons
.btn-primary {
    @include button-variant($primary, $primary);
    color: $body-color;   
}

// Tables
.table-sm {
    font-size: 0.8rem;
}
