* {
    margin: 0;
    padding: 0;
}

html,
body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

html {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ls-2 {
    letter-spacing: 2px;
}

// Overlay
.overlay {
    pointer-events: none;   
    user-select: none;
}

// Buttons
.btn-primary {
    @include button-variant($primary, $primary);
    color: $body-color;   
}

// Tables
.table-sm {
    @include font-size($small-font-size);
}

// Cards
.card-transparent {
   background-color: rgba($color: $card-bg, $alpha: 0.75);
}
