// Colors
$gray: #5b5b5b;
$gray-light: lighten($gray, 10%);
$gray-dark: darken($gray, 10%);
$gray-darker: darken($gray, 20%);

$green: #3a813d;
$green-light: lighten($green, 20%);

$white: #eee;
$white-dark: darken($white, 30%);

// Base
$body-bg: $gray;
$body-color: $white;
$font-family-base: 'Roboto Mono', monospace;
$font-family-monospace: 'Roboto Mono', monospace;
$small-font-size: 0.875rem;
$min-contrast-ratio: 2.5;
$border-color: $body-bg;

// Cards
$card-bg: $gray-darker;
$card-border-width: 0;

// Inputs
$input-bg: $gray-dark;
$input-color: $body-color;
$input-border-width: 0;
$input-focus-box-shadow: none;
$input-placeholder-color: $white-dark;

// Primary button
$primary: $green;
$primary-light: $green-light;

// Tables
$table-cell-padding-x-sm: 0.1rem;
$table-cell-padding-y-sm: 0.1rem;
