// Base
$body-bg: #5b5b5b;
$body-color: #fff;
$font-family-base: Roboto,sans-serif;

// Cards
$card-bg: darken($body-bg, 10%);
$card-border-width: 0;

// Inputs
$input-bg: $body-bg;
$input-color: $body-color;
$input-border-width: 0;
$input-focus-box-shadow: none;
$input-placeholder-color: darken($body-color, 40%);

// Primary button
$primary: #3a813d;
